# LangChain Core
langchain
langchain-core

# OpenAI Integration
#

# Anthropic Integration
langchain-groq

# Google Gemini (PaLM) Integration



# Hugging Face Integration


# Environment Variable Management
python-dotenv

# Machine Learning Utilities


torch
langchain.text_splitter

langchain.prompts
langchain.chains

streamlit
